@charset "utf-8";


/*-- Styles CSS file

  Author: Bryan Sauve
  Date: December 7th 2017

  Goals sheet for ePortfolio
  */
  
  html, body {
    height:1000px;
  }
  
  h1{
    font-size:1.5em;
    text-shadow: 1px 1px rgb(200,200,200);
  }
  
  h2{
    color: yellow;
    font-size: 1em;
    margin-top:5px;
    margin-left:5px;
  }
  
  article {
    background: rgb(60,60,60);
    color:white;
    width:18%;
    float: left;
    background: rgb(60,60,60);
    color:white;
    margin: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }
  
  img#goals {
    width:100%;
  }
  
  p {
    padding: 3px;
    margin: 3px;
  }
  
  div {
    margin:5px;
  }
  
  div#shortTermGoals {
    width:99%;
    background: rgb(255,255,128); 
    background: rgba(255,255,128,0.5);
    float: left;
  }
  
  div#longTermGoals {
    width:99%;
    background: rgb(255,255,128); 
    background: rgba(255,255,128,0.5);
    float: left;
  }
  
  
/*for mobiles device*/
@media only screen and (max-width: 480px) {
  
  div {
    width:90%;
  }
  
  article {
    width:95%;
  }
  
    body {
    height: 1700px;
  }
  
  
}  

/*for tablets*/
@media only screen and (min-width: 481px) and (max-width: 768px) {
  
  body {
    height: 1300px;
  }
  
  article {
    width:98%;
    display: block;
  }
  
}

/*destops*/
@media only screen and (min-width: 769px) {
	
 
}  