@charset "utf-8";


/*-- Styles CSS file

  Author: Bryan Sauve
  Date: December 7th 2017

  Skills sheet for ePortfolio
  */
  
img#skillHeader {
  width:100%;
}

section.left {
  float:left;
  background: rgb(175,175,175);
  width:38%;
  padding: 10px;
  margin: 10px;
  line-height:150%;
}

section.right {
  float:left;
  background: rgb(0,0,0);
  color: rgb(255,255,255);
  width:58%;
  padding: 10px;
  margin: 10px;
}

h1 {
  font-size: 1.5em;
  color: yellow;
  text-shadow: 1px 1px rgb(0,0,0);
}

section.right h1 {
  text-shadow: 1px 1px rgb(200,200,200);
}

ul {
  list-style-image: url(images/bullet.gif);
  padding-left:15px;
}


/*for mobiles device*/
@media only screen and (max-width: 480px) {
  
  body {
    height: 1200px;
  }
  
 section.left {
   width:95%;
 }
 
 section.right {
   width:95%
 }
 
 img#skillHeader {
   display: none;
 }
}  

/*for tablets*/
@media only screen and (min-width: 481px) and (max-width: 768px) {
  section.left {
   width:35%;
 }
 
}

/*destops*/
@media only screen and (min-width: 769px) {
	
 
}  