@charset "utf-8";


/*-- Styles CSS file

  Author: Bryan Sauve
  Date: December 7th 2017

  Styles sheet for ePortfolio
  */
  
html {
   background: url(css/images/code-background.png) center center / cover no-repeat fixed;
   font-family: tahoma, verdana, Geneva, sans-serif;
   font-size: 14px;
   height: 100%;
}

img#header {
  width: 100%;
}

body {
  background: rgb(215,215,215);
  background: rgba(215,215,215,0.9);
  box-shadow: rgb(0, 0, 0) 5px 0px 15px,
              rgb(0, 0, 0) -5px 0px 15px;
  margin: 0px auto;
  width: 100%;
  height: 100%;
  min-width: 320px;
  max-width: 1024px;
}

p {
  padding: 5px;
}

section#navigation ul{
  width: 100%;
  background: black;
  float: left;
  font-size: 2em;
  font-family: impact regular;
}

a {
  color: white;
  text-decoration: none;
}

a:hover, a:active {
  color: yellow;
}

section#navigation ul li{
  width: 20%;
  display: block;
  text-align: center;
  position: relative;
  float: left;
}

a#navIcon {
  display:none;
  size:10%;
  float:left;
}

/*for mobiles device*/
@media only screen and (max-width: 480px) {
  
  section#navigation ul li{
  width: 100%;
  display: block;
  text-align: center;
  position: relative;
  float: left;
  
}  

/*for tablets*/
@media only screen and (min-width: 481px /*and max-width: 768px*/) {
  
}

/*destops*/
@media only screen and (min-width: 769px) {
	
 
}  

