@charset "utf-8";


/*-- Styles CSS file

  Author: Bryan Sauve
  Date: December 7th 2017

  Styles sheet for ePortfolio.Contact
  */
  
  
section#contactInfo {
  float:left;
  width:35%;
  background: rgb(90,90,90);
  color: black;
  line-height:250%;
  margin: 10px;
  padding:5px;
  font-size: 1.2em;
  text-align:center;
}

section#contactInfo h1{
  font-size:2em;
  color: yellow;
  background: black;
  padding:5px;
  text-align: left;
  font-family: georgia;
}
  
section#googleMap {
  float:left;
  margin:10px;
}

em {
  font-weight: bold;
}

h2 {
  background: rgb(200,200,200);
  width:100%;
  padding-top: 0;
  padding-bottom: 0;
}


/*for mobiles device*/
@media only screen and (max-width: 480px) {
  
  iframe#googleMap {
 display: none;
 }
 
 section#contactInfo {
   width:95%;
 }
  
}  

/*for tablets*/
@media only screen and (min-width: 481px) and (max-width: 768px) {
  
  body {
    height: 1100px;
  }
 
 section#googleMap {
   width: 100%;
   text-align: center;
 }
 
 section#contactInfo {
   width:98%;
 }
  
}

/*destops*/
@media only screen and (min-width: 769px) {
	
 
}  
