/* ID'd Elements */

p{
  font-size: 1em;
}

#body{
    margin-top:10px;
}

#header-container{
  margin: 5px 0px 5px 0px;
  width: 80vw;
  justify-content:space-around;
}

#header-blob {
  text-align: left;
  flex-shrink: 1;
  padding-top: 3em;
}

#headshot{
  margin:0;
  padding:0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

#headshot-div{
  border: 2px solid black;
  display:flex;
  justify-content: flex-end;
  flex-shrink: 2;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

#mobile-header {
  display: none;
}

#skillset-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#skillset-container em {
  display: flex;
  font-weight: bolder;
  width:10vw;
  margin: 2px 2px 10px 2px;

}

/* Classed Elements */
.formElement{
    width: 100%;
    border-radius: 10px 10px 10px 10px;
}

.bg-primary{
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 5vw;
  padding-bottom: 5px;
}

.flex-container{
  display: flex;
}

.flex-item{
  display:flex;
}

.lead{
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 1024px) {

  #headshot-div{
    display:none;
  }


  #header-container {
    margin-top: 5vw;
    flex-direction: column;
    align-items: center;
  }

  #header-text {
    display: none;
  }

  #mobile-header {
    display: flex;
  }

} /* End of Mediaquery for tablets */

@media only screen and (max-width: 720px) {


}

@media only screen and (max-width: 320){

}
